// main
.main
  background-color: $navy
  overflow: hidden
  &__content
    background-image: url(../img/bgd.jpg)
    background-size: cover
    display: flex
    align-self: center
    border-radius: 40px
    border: 5px solid blue
  &__h1
    font-family: FredokaOne
.bor
  border: 1px dashed violet
.bor2
  border: 1px dashed red
.bor3
  border: 1px dashed green
.bor4
  border: 1px dashed black
// main END