// navbar
.navbar
  background-image: url('../img/navbar-bg.jpg')
  height: 100%
  padding: 40px
  background-color: $navy
  background-size: cover
  box-shadow: 50px -2px 44px -12px rgba(34, 60, 80, 0.2)
  overflow: hidden
  &__link
    height: 40px
    border-radius: 30px
    background-color: $lavender
    padding-left: 30px
    margin-bottom: 20px
    align-items: center
  &__icon
    height: 20px
    width: 20px
    margin-right: 10px
  &__btn
    outline: none
    border: none
    background-color: $lavender
    &:focus
      outline: none
      background-color: $lavender
// navbar END